<div class="container">
  <div class="panel panel-danger">
    <div class="panel-heading">
      ファイルが見つかりません
    </div>
    <div class="panel-body">
      <strong><%= @name %></strong>は存在しません。ファイル名が誤っていないか、確認してください。
    </div>
  </div>
</div>