<div class="ide">
  <div class="ide-left">
    <textarea id="editor" wrap="off"></textarea>
  </div>
  <div class="ide-right">
    <div id="console">
      <h1>Radius version 0.10</h1>
      <h3>&copy;Ayahito Saji</h3>
    </div>
  </div>
  <a id="fab" href="javascript:void(0)">
    <i class="fa fa-play"></i>
  </a>
</div>
